.home_button{
    width: 173px;
    height: 56px;
    background-color: var(--orange);
    color:var(--ligth-white);
    border:none;
    border-radius: 200px;
    padding:16px;
    gap:10px;
    margin-top:40px;

}