.camperImg {
  width: 292px;
  height: 320px;
  border-radius: 10px;
}

.card {
  width: 888px;
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 32px;
  padding: 24px;
}
.camperExpDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.camperExp {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.camperName {
  margin-right: 200px;
}

.fav {
  width: 24px;
  height: 20px;
  margin: 0px 10px;
}

.rateDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  width: 10px;
  height: 10px;
}

.location {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.campersEqpDiv {
  width: 524px;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.devider {
  width: 360px;
  border: 1px solid var(--light-grey);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 64px;
}

.leftSide {
  background-color: var(--very-light-grey);
  padding: 44px 40px;
  width: 631px;
  height: 588px;
  justify-content: center;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}
table {
  width: 527px;
  height: 296px;
}

.detailItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 641px;
  height: 588px;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  padding: 44px 40px;
  gap: 24px;
  justify-content: center;
}

form {
  width: 527px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 14px;
 
}
input, textarea{
  width: 100%; 
  background-color: var(--very-light-grey);
  border: transparent;
  border-radius: 10px;
 padding:18px;
 font-family: 'Inter', sans-serif;
 
}
.searchBtn {
  background-color: var(--orange);
  color: var(--ligth-white);
  border-radius: 200px;
  width: 166px;
  height: 56px;
  border: none;
  padding: 16px;
  align-self: center;
  margin-top:10px;
}

.searchBtn:hover {
  background-color: var(--dark_orange);
  cursor: pointer;
}
