.camperImg {
  width: 292px;
  height: 320px;
  border-radius: 10px;
}

.card {
  width: 888px;
  height: 368px;
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 32px;
  padding: 24px;
}
.camperExpDiv {
  display: flex;
  flex-direction: column;
  
}

.camperExp {
  display: flex;
  flex-direction: row;
  align-items: start;
  
}
.camperName{
  margin-right:200px;
}

.fav {
  width: 24px;
  height: 20px;
  margin: 0px 10px;
}

.rateDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  
 
}
.rating {
  width: 10px;
  height: 10px;
}

.location {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}
