.devider {
  width: 360px;
  border: 1px solid var(--light-grey);
}

.body {
  
  display: flex;
  flex-direction: column;
  margin: 24px 64px;
  gap: 24px;
}

.name {
  width: 1312px;
}
.rating {
  margin-top: 10px;
}

.location {
  margin-left: 16px;
}
.price {
  margin-top: 8px;
}

.image {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.singleImg {
  width: 292px;
  height: 312px;
  border-radius: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: start;
}

h3 {
  text-decoration: none;
  color: inherit;
}

h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

h3:active {
  text-decoration: underline;
}
