.campersEqp {
    border-radius: 100px;
    width: 148px;
    height: 48px;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .campersEqpIcon {
    width: 20px;
    height: 20px;
  }
  