.camperImg {
  width: 292px;
  height: 320px;
  border-radius: 10px;
}

.card {
  width: 888px;
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 32px;
  padding: 24px;
}
.camperExpDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.camperExp {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.camperName {
  margin-right: 200px;
}

.fav {
  width: 24px;
  height: 20px;
  margin: 0px 10px;
}

.rateDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  width: 10px;
  height: 10px;
}

.location {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.campersEqpDiv {
  width: 524px;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.devider {
  width: 360px;
  border: 1px solid var(--light-grey);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

.itemExp {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.leftSide {
  background-color: var(--very-light-grey);
  padding: 44px 80px;
  width: 631px;
  height: 588px;
  justify-content: center;
  border-radius: 10px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}
table{
  margin-top:12px;
  gap:16px;
}