.bodyDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin:32px;
  gap: 16px;
  
}
input{
  background-color: var(--very-light-grey);
  border-color:transparent;
  width: 360px;
  height: 56px;
  border-radius: 12px;
  padding:20px;

}
input:active, input:focus{
  outline:none;
  background-color: var(--light-grey);
  
}

.location {
  width: 360px;
  height: 88px;
 
 

}
.locationText{
  margin:32px 0px;

}
.filtersText{
  margin:36px 0px;
}
/* 
.filters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin:30px;
} */

.filterItem{
    border-style: var(--light-grey) solid 1px;
   list-style-type: none;
}
.equipments{
  gap:24px;

}

.devider{
  width: 360px;
  border: 1px solid var(--light-grey);
  margin: 24px 0px;
}