.ul {
  width: 360px;
  height: 200px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 112px;
  height: 96px;
  border: 1px solid var(--light-grey);
  border-radius: 12px;
}
