.camperExpDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
.campersEqpDiv{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:8px;
}


  .camperExp {
    display: flex;
    flex-direction: column;
    align-items: start;
  }




.main {
    display: flex;
    flex-wrap: column;
    justify-content: start;
    align-items: center;
    gap: 32px;
  }
  
  .leftSide {
    background-color: var(--very-light-grey);
    padding: 44px 40px;
    width: 631px;
    height: 588px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .RevLeftSide {
    padding: 44px 40px;
    width: 631px;
    height: 588px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .nameLetter {
    font-weight: 600px;
    padding: 10px;
    font-size: 24px;
    color: var(--orange);
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    background-color: var(--light-grey);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .reviewDiv {
    display: flex;
    flex-direction: column;
   
  }
  
  .revLeftSide{
    gap: 44px;
  }
  
  .Rname {
    width: 631px;;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    align-self: start;
  }
  
  table {
    width: 527px;
    height: 296px;
  }
  
  .detailItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
  }
  
  .rightSide {
    display: flex;
    flex-direction: column;
    width: 641px;
    height: 588px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    padding: 44px 40px;
    gap: 24px;
    justify-content: center;
  }
  
  form {
    width: 527px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }
  input,
  textarea {
    width: 100%;
    background-color: var(--very-light-grey);
    border: transparent;
    border-radius: 10px;
    padding: 18px;
    font-family: Inter, sans-serif;
  }
