.loadMoreBtn {
  width: 145px;
  height: 56px;
  border: 1px solid var(--light-grey);
  border-radius: 200px;
  display: block;
  align-items: center;
  justify-content: center;
}

.loadMoreBtn:hover {
  border-color: var(--orange);
  cursor: pointer;
  

}