.searchBtn {
  background-color: var(--orange);
  color: var(--ligth-white);
  border-radius: 200px;
  width: 166px;
  height: 56px;
  border: none;
  padding: 16px;
}

.searchBtn:hover {
  background-color: var(--dark_orange);
  cursor: pointer;
}
